<!DOCTYPE html>
<html>
<body style="background-color:#26C281;">
<h1>About</h1>
<p>Snapavaganca brings your the latest styles from Berlin directly on your forehead. We only sell hand picked snapbacks that are organically produced and vegan. This is how we do things in Berlin.</p>
</body>
</html>
