<!DOCTYPE html>
<html>
<body style="background-color:#26C281;">
<h1>Contact</h1>
<p>You won't find us in Berlin, we are an online store built on rails. We travel around the web to bring you the best snapbacks. Drop us an email if you desire some personalized swag: swaggerino_caps@HOTMAIL.com</p>
</body>
</html>
