<div class="page-header" align="center">
<h1>Welcome to Snapavaganza</h1>
<h2>Your source for unique snapback caps in Berlin.</h2>
</div>
<div class="content" align="center">
<p>Welcome! The date and time is <%= Time.now %>.</p>
<% test_variable = 42 %>

<%= test_variable - 2 %>

<%= image_tag("capgirl.jpg", height: '25%', width: '25%', class: "img-responsive my-image") %>
</div>