<div class="panel panel-default">
  <div class="panel-body">
    <p>You are awesome, thank you for reaching out. We'll be in touch with you shortly</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->
